
<% if current_user == @profile_user %>

  <h1> My Profile </h1>
  <p><%= @profile_user.first_name %> </p>
  <%= image_tag(current_user.avatar_thumbnail)%>
  
  <%= link_to "Edit Profile",  edit_user_registration_path %>

<% else %>

  <h1><%= @profile_user.first_name %>'s Profile Page </h1>

<% end %>
