.form-container {
	padding: 16vh 32vw;
	background-image: url("tempbackground.jpeg");
	object-fit: cover;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
